build/classes/c2g2/engine/GameEngine.class
build/classes/c2g2/engine/GameItem.class
build/classes/c2g2/engine/IGameLogic.class
build/classes/c2g2/engine/MouseInput.class
build/classes/c2g2/engine/MouseInput$1.class
build/classes/c2g2/engine/MouseInput$2.class
build/classes/c2g2/engine/MouseInput$3.class
build/classes/c2g2/engine/Timer.class
build/classes/c2g2/engine/Utils.class
build/classes/c2g2/engine/Window.class
build/classes/c2g2/engine/Window$1.class
build/classes/c2g2/engine/graph/Camera.class
build/classes/c2g2/engine/graph/DirectionalLight.class
build/classes/c2g2/engine/graph/Material.class
build/classes/c2g2/engine/graph/Mesh.class
build/classes/c2g2/engine/graph/OBJLoader.class
build/classes/c2g2/engine/graph/OBJLoader$Face.class
build/classes/c2g2/engine/graph/OBJLoader$IdxGroup.class
build/classes/c2g2/engine/graph/PointLight.class
build/classes/c2g2/engine/graph/PointLight$Attenuation.class
build/classes/c2g2/engine/graph/ShaderProgram.class
build/classes/c2g2/engine/graph/Transformation.class
build/classes/c2g2/game/DummyGame.class
build/classes/c2g2/game/DummyGame$1.class
build/classes/c2g2/game/Main.class
build/classes/c2g2/game/Renderer.class
build/classes/c2g2/geometry/Face.class
build/classes/c2g2/geometry/GarlandMeasurer.class
build/classes/c2g2/geometry/GeometryChecker.class
build/classes/c2g2/geometry/HalfEdge.class
build/classes/c2g2/geometry/HalfEdgeMesh.class
build/classes/c2g2/geometry/Measurer.class
build/classes/c2g2/geometry/Measurer$Quadric.class
build/classes/c2g2/geometry/MeshSimplifier.class
build/classes/c2g2/geometry/MeshSimplifier$EdgeRecord.class
build/classes/c2g2/geometry/Vertex.class
out/production/pa4_release-2/c2g2/engine/.gitignore
out/production/pa4_release-2/c2g2/engine/MouseInput$1.class
out/production/pa4_release-2/c2g2/engine/MouseInput$2.class
out/production/pa4_release-2/c2g2/engine/MouseInput$3.class
out/production/pa4_release-2/c2g2/engine/Window$1.class
out/production/pa4_release-2/c2g2/engine/graph/.gitignore
out/production/pa4_release-2/c2g2/game/.gitignore
out/production/pa4_release-2/c2g2/game/DummyGame$1.class
out/production/pa4_release-2/c2g2/geometry/.gitignore
out/production/pa4_release-2/c2g2/geometry/.MeshSimplifier.java.swp
out/production/pa4_release-2/c2g2/geometry/GarlandMeasurer.class
out/production/pa4_release-2/c2g2/geometry/GeometryChecker.class
out/production/pa4_release-2/c2g2/geometry/Measurer.class
out/production/pa4_release-2/c2g2/geometry/Measurer$Quadric.class
out/production/pa4_release-2/c2g2/geometry/MeshSimplifier.class
out/production/pa4_release-2/c2g2/geometry/MeshSimplifier$EdgeRecord.class
out/production/pa4_release-2/resources/models/bunny.obj
out/production/pa4_release-2/resources/models/bunnyt.obj
out/production/pa4_release-2/resources/models/cube.obj
out/production/pa4_release-2/resources/models/icosphere.obj
out/production/pa4_release-2/resources/models/sphere.obj
out/production/pa4_release-2/resources/shaders/fragment.fs
out/production/pa4_release-2/resources/shaders/vertex.vs
out/production/pa4_release-2/resources/textures/grassblock.png
